voli/target/classes/bresciani/paleocapa/it/Clienti.class
voli/target/classes/bresciani/paleocapa/it/Cliente.class
voli/target/classes/bresciani/paleocapa/it/ContenitorePrenotazioni.class
voli/target/classes/bresciani/paleocapa/it/Prenotazione$Bagaglio.class
voli/target/classes/bresciani/paleocapa/it/Voli.class
voli/target/classes/bresciani/paleocapa/it/Volo.class
voli/target/classes/bresciani/paleocapa/it/Prenotazione.class
voli/target/test-classes/bresciani/paleocapa/it/AppTest.class
